Source: linux-udoo
Section: kernel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 9), module-init-tools
Standards-Version: 3.9.5

Package: linux-udoo
Architecture: armhf armel
Depends: ${misc:Depends}
Description: Linux kernel and modules for UDOO
 This package is a part of Pragmatux (http://pragmatux.org).
 UDOO is a product of SECO USA, Inc. (http://udoo.org).

Package: firmware-udoo
Architecture: armhf armel
Depends: ${misc:Depends}
Description: Firmware for UDOO
 This package is a part of Pragmatux (http://pragmatux.org).
 UDOO is a product of SECO USA, Inc. (http://udoo.org).

#Package: dtb-udoo
#Architecture: armhf armel
#Depends: ${misc:Depends}
#Description: Device Tree Blob for UDOO
# This package is a part of Pragmatux (http://pragmatux.org).
# UDOO is a product of SECO USA, Inc. (http://udoo.org).
